@mixin new {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-color: #565656;
  background-repeat: no-repeat;
	cursor: pointer;
}

.icon {
	&-done {
		@include new();
		-webkit-mask-image: url('../assets/icons/done.svg');
		mask-image: url('../assets/icons/done.svg');
    height: 19px;
    width: 21px;
	}

	&-expandMore {
		@include new();
		-webkit-mask-image: url('../assets/icons/expandMore.svg');
		mask-image: url('../assets/icons/expandMore.svg');
    height: 16px;
    width: 18px;
	}

	&-expandLess {
		@include new();
		-webkit-mask-image: url('../assets/icons/expandLess.svg');
		mask-image: url('../assets/icons/expandLess.svg');
    height: 16px;
    width: 18px;
	}
}