@import './icons.scss';

@font-face {
    font-family: 'RubikRegular';
    src: url('../assets/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'RubikMedium';
    src: url('../assets/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'RubikBold';
    src: url('../assets/fonts/Rubik-SemiBold.ttf');
}